{% extends 'authapp/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <h1>Поздравляем</h1>
            <br>
            <p>Вы успешно активировали аккаунт</p>
            <a href="{% url 'index' %}"> Вернуться на главную</a>
        </div>
    {% else %}
        <div>
            <h1>Что-то пошло не так</h1>
            <br>
            <p>К сожалению активация аккаунта не удалась. Обратитесь в поддержку</p>
            <a href="{% url 'index' %}"> Вернуться на главную</a>
        </div>
    {% endif %}
{% endblock %}